mixin InputNumber(number = 0)
  .input.input-number&attributes(attributes).J_InputNumber
    a(href="javascript:void(0);").input-number__btn.input-number__minus.J_NumberMinus -
    input(type="type", value=number).input-number__item.J_NumberInput
    a(href="javascript:void(0);").input-number__btn.input-number__plus.J_NumberPlus +
