mixin OpacityBanner()
  .banner-wrapper.loading
    .banner.J_OpacityBanner
      ul.banner-list
        li(data-background-color="#2b37e0").banner-item.active.J_OpacityBannerItem
          .banner-item-inner
            img(src=banner, alt="XX-banner")
        li(data-background-color="yellow").banner-item.J_OpacityBannerItem
          .banner-item-inner
            img(src=adBanner, alt="XX-banner")
      ol.banner-nav
        li.banner-nav-item.active.J_OpacityBannerNav
        li.banner-nav-item.J_OpacityBannerNav
